
<!DOCTYPE html>
<html>
<head>
    <title>Ninja Gold</title>
</head>
<body>

    <div class="container">

        <h1>Ninja Gold Game</h1>

        <label>Your Gold:</label>
        <input type="text" value="{{ gold }}" readonly>

        <div class="locations">

            <div class="box">
                <h3>Farm</h3>
                <p>(earns 10-20 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="box">
                <h3>Cave</h3>
                <p>(earns 10-20 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="cave">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="box">
                <h3>House</h3>
                <p>(earns 10-20 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="house">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="box">
                <h3>Quest</h3>
                <p>(earns/takes 0-50 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="quest">
                    <button>Find Gold!</button>
                </form>
            </div>

        </div>
        <h3>Activities:</h3>
        <div class="activities-box">
            {% for activity in activities %}
                <p>{{ activity }}</p>
            {% endfor %}
        </div>

    </div>

</body>
</html>